# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/*
.yarn/*


.pnp.*

# IDE
.idea/
.vscode/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Prebuild
android/
ios/

# builds
*.apk
*.aab
*.app
*.ipa

# archives and packages
*.deb
*.tar.gz
*.tar.xz
*.tgz
*.zip
*.rar
*.gz
*.7z
*.dmg
*.iso